@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* CSS VARIABLES */
:root {
    --lead: #212121;
    --bonn: #FFD700;
    --leg: #FFFDF7;
    --ayu: #FCF1CC;
    --pure-white: #FFF;
}

body {
    background: white;
}

/* Header Styling */
a {
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
}

.flex {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
}

.between {
    justify-content: space-between;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

.navbar {
    min-height: 14vh;
}

.wrapper {
    max-width: 1400px;
    margin: auto;
    padding-inline: 1.5rem;
    display: flex;
    align-items: center;
}

/* LOGO */
.logo {
    font-size: 2rem;
    font-weight: bold;
    color: red;
    flex: 1;
}

/* CENTER NAV MENU */
.navlist {
    flex: 2;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

/* RIGHT ACTION */
.desktop-action {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex: 1;
    justify-content: flex-end;
}

.btn {
    display: inline-block;
    padding: .9rem 2rem;
    background-color: red;
    border-radius: 1rem;
    font-size: 1.1rem;
    color: var(--ayu);
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 1px;
    transition: .3s ease-in-out;
}

.btn:hover {
    background: black;
    color: white;
}

.cart-icon {
    color: black;
    font-size: 1.3rem;
    position: relative;
}

.cart-icon .cart-value {
    position: absolute;
    top: -6px;
    right: -10px;
    font-size: .85rem;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 100vw;
    background-color: red;
    color: black;
    text-align: center;
    line-height: 20px;
}

.desktop-action .hamburger {
    font-size: 1.5rem;
    display: none;
}

.mobile-menu {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
    margin: auto;
}

.p-top {
    padding-top: 10rem;
}

.text-center {
    text-align: center;
}

/* Hero Section */
.hero-section {
    min-height: calc(100vh - 14vh);
}

.content,
.image-container {
    flex: 1;
}

h1 {
    font-size: 5.6vw;
    color: black;
}

h1 span {
    color: red;
}

p {
    font-size: 1.25rem;
    color: gray;
    line-height: 1.8rem;
    font-weight: 400;
}

.para {
    margin-block: 2rem;
    max-width: 550px;
}

/* =================== OUR SERVICES =================== */
.section-heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
}

.section-heading h5 {
    font-size: 1.6rem;
    letter-spacing: .2rem;
    color: red;
    text-transform: uppercase;
}

.section-heading h2 {
    font-size: 3.7rem;
}

/* =================== SERVICES =================== */
.services {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.Service-card {
    background-color: var(--leg);
    border-radius: 1rem;
    padding: 1.5rem;
    text-align: center;
    max-width: 320px;
}

.Service-card img {
    height: 250px;
    object-fit: cover;
}

/* =================== MENU =================== */
.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.order-card {
    width: 280px;
    background: white;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}

.order-card img {
    height: 180px;
    object-fit: cover;
}

.price {
    color: red;
}

/* =================== CART =================== */
.cart-tab {
    position: fixed;
    inset: 0 -500px 0 auto;
    width: 25rem;
    background: palegoldenrod;
    padding: 1rem;
    transition: .3s ease-in-out;
}

.cart-tab-active {
    inset: 0 0 0 auto;
}

.cart-list {
    overflow-y: auto;
    max-height: 350px;
}

.item {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.quantity-btn {
    background: black;
    color: white;
    border-radius: 50%;
    width: 1.7rem;
    height: 1.7rem;
}

/* =================== FOOTER =================== */
.footer-container {
    background: palegoldenrod;
    padding: 4rem 0;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

/* =================== RESPONSIVE =================== */
@media screen and (max-width: 780px) {
    .navlist {
        display: none;
    }
    .hamburger {
        display: block;
    }
}
